@import "select2";
@import "font-awesome";
@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.parallax-container {
  height: 250px;
  line-height: 0;
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

nav {
  @extend .light-green, .lighten-2;
}

.breadcrumb:before {
  content: '>';
  font-size: 16px;
}

select.search-select {
  display: inline;
}
