@import "font-awesome";
@import "materialize";

.parallax-container {
  height: 250px;
  line-height: 0;
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

nav {
  @extend .light-green, .lighten-2;
}

.no-pad-bot nav {
  @extend .white, .z-depth-0;
}

.no-pad-bot .breadcrumb {
  @extend .light-green-text;
}

.no-pad-bot .breadcrumb:before {
  content: '>';
  @extend .light-green-text;
}
